name: Build Documentation

on:
  push:
    branches:
      - dev-v3
    paths-ignore: 
      - 'docs/**'
#      - '.github/**'
  pull_request:

jobs:
  build-docs:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PUSH_TOKEN }}

      # Install Doxygen
      - name: Install Doxygen
        uses: ssciwr/doxygen-install@v1
        with:
          version: "1.15.0"

      # Build the solution (all projects)
      - name: Build NanoXLSX solution
        run: msbuild NanoXLSX.sln /p:Configuration=Release

      # Generate docs for NanoXLSX.Core
      - name: Generate NanoXLSX.Core docs
        run: |
          cd NanoXLSX.Core/Documentation
          doxygen documentation.doxygen

      # Generate docs for NanoXLSX.Reader
      - name: Generate NanoXLSX.Reader docs
        run: |
          cd NanoXLSX.Reader/Documentation
          doxygen documentation.doxygen

      # Generate docs for NanoXLSX.Writer
      - name: Generate NanoXLSX.Writer docs
        run: |
          cd NanoXLSX.Writer/Documentation
          doxygen documentation.doxygen

      # Upload docs artifact
      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PUSH_TOKEN }}
          publish_dir: ./docs
